<%- include('partials/header') %>
<h1>campgrounds</h1>
<% campgrounds.forEach(campground => { %>
<div>
  <h4><%= campground.name %></h4>
  <img src="<%= campground.img %>" alt="" srcset="" />
</div>
<% }); %> <%- include('partials/footer') %>
